/*  Estilo para o rodapé */ 
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 250px; /* Ajuste a altura do rodapé conforme necessário */
    background-color: #1976d2;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* Estilo para a logo no rodapé */
  .footer-logo {
    width: 220px; /* Ajuste o tamanho da logo conforme necessário */
    height: 80px; /* Ajuste o tamanho da logo conforme necessário */
  }
  
  /* Estilo para o texto de contato no rodapé */
  .footer-contact p {
    margin: 5px 0;
  }
  
  /* Estilo para o texto de créditos no rodapé */
  .footer-credits {
    margin-top: 20px;
  }